{% extends "entries/base.html" %}
{% block content %}

<article>
    <h2 class="mark">{% now "Y-m-d H:i" %}</em></h2>
    <a href="{% url 'entry-create' %}"><button>Add new entry</button></a>
</article>

{% for entry in entry_list %}
    <article>
        <h2 class="{{ entry.date_created|date:'l' }}">
            {{ entry.date_created|date:'Y-m-d H:i' }}
        </h2>
        <h3>
            {% if entry.important %}
            <a href="{% url 'entry-detail' entry.id %}">
                <b style="background-color: #ff5c5c6b;">
                    {{ entry.title }}
                </b>
            </a>
            {% else %}
            <a href="{% url 'entry-detail' entry.id %}">
                {{ entry.title }}
            </a>
            {% endif %}
        </h3>
    </article>
{% endfor %}
{% endblock %}